<html>
  <head>
    <!--><meta charset="utf-8"><!-->
    <title>SS2</title>
    <link rel="stylesheet" href="stylesheet.css">
    
    <div class="header">
      <div class="header-logo"><a href="/" class="header-item">創造設計第二</a></div>
      <div class="header-list">
        <a href="/member" class="header-item">班員紹介</a></li>
        <a href="/strategy" class="header-item">戦略</a></li>
        <a href="/machine" class="header-item">マシン紹介</a></li>
        <a href="/interview" class="header-item">関連リンク</a></li>
      </div>
    </div>
  </head>
  <body>
    <div class="main">
      <div class="contents">
      <a href="http://www.cyb.sc.e.titech.ac.jp/ss2web2017/FrontPage.html">創造設計第二HP</a><br>
      <a href="https://www.titech.ac.jp/">東京工業大学HP</a>
      
      </div>
    </div>
  </body>
</html>
  