<html>
  <head>
    <!--><meta charset="utf-8"><!-->
    <title>SS2</title>
    <link rel="stylesheet" href="stylesheet.css">

    <div class="header">
      <div class="header-logo"><a href="/" class="header-item">創造設計第二</a></div>
      <div class="header-list">
        <a href="/member" class="header-item">班員紹介</a></li>
        <a href="/strategy" class="header-item">戦略</a></li>
        <a href="/machine" class="header-item">マシン紹介</a></li>
        <a href="/interview" class="header-item">関連リンク</a></li>
      </div>
    </div>
  </head>
  <body>
  	<div class="main">
  	  <div class="planlist">
  		<div>
	  	  <ul>
	  	  	<li><p class="planlist-item">プランA「ズッ友大作戦」</p></li>
	  	  	<img class="actionmap" src="actionmap.png">
	  	  	<br>
	  	  	<ol>
	  	  	  <li>1.ライントレーサーを用いて<span class="place-a">A地点まで</span>向かう</li>
			      <li>2.マシン前面についたシャベルを用いてピンポン球を５個すくい上げる</li>
			      <li>3.すくい上げたピンポン球をマシン上部の箱に入れる</li>
			      <li>4.そのままバックしてライン上を<span class="place-b">B地点</span>まで移動する</li>
			      <li>5.B地点で２台が鉢合わせし、ピンポン球の入った箱を交換する</li>
			      <li>6.交換した箱を乗せたまま倉庫に戻り、得点する</li>
			    </ol>
			       <br>互いのマシンがそれぞれのピンポン玉を交換し合うその様が、女子高生がバレンタインデーに友チョコを渡しあう姿を彷彿とさせるので、この作戦を「ズッ友大作戦」と命名する。
			       <br>最初にマシンにピンポン玉を２個を搭載させているので獲得予定点数は7点。
			       <br>ライントレースの精度は言うまでもなく、いかに多くのピンポン玉を箱に詰められるか、箱の受け渡し機構とその精度が製作上とても重要で完成までの指標となるだろう。
	  	  	<li><p class="planlist-item" style ="clear:both;">プランB「ただ渡すだけ」</p>
            <p>
            プランAが不可能な場合に採用される。<br>
            プランAで言うと手順の4,5,6のみ行う。最初に搭載している二つのピンポン球のみを受け渡し２点を確実に狙う作戦。
            直線のライントレース移動と受け渡し動作のみであり、とてもシンプルで確実性を求めた戦略である。
            本番の試合はプランBが採用された
            </p>
          </li>
	  	  </ul>
	  	</div>
	  </div>
  	</div>
  </body>
</html>
