<html>
  <head>
    <!--><meta charset="utf-8"><!-->
    <title>SS2</title>
    <link rel="stylesheet" href="stylesheet.css">
    
    <div class="header">
      <div class="header-logo"><a href="/" class="header-item">創造設計第二</a></div>
      <div class="header-list">
        <a href="/member" class="header-item">班員紹介</a></li>
        <a href="/strategy" class="header-item">戦略</a></li>
        <a href="/machine" class="header-item">マシン紹介</a></li>
        <a href="/interview" class="header-item">関連リンク</a></li>
      </div>
    </div>
  </head>
  <body>
  	<div class="main">
  	  <div class="contents">
  		<div class="contents-item">
  		  <h2 class="sayu" style="text-shadow: 2px 2px 4px black">さゆ(17歳JK)</h2>
  		    白いピンポン玉を運ぶ<br>
  		  <img class="sayu1" src="sayu_1.jpg">
  		  <img class="sayu2" src="sayu_2.jpg">
	  	  <h2 class="mikan">みかん(17歳JK)</h2>
	  	 オレンジ色のピンポン玉を運ぶ
	  	</div>
	  </div>
  	</div>
  </body>
</html>
  