  <head>
    <!--><meta charset="utf-8"><!-->
    <title>SS2</title>
    <link rel="stylesheet" href="stylesheet.css">
    
    <div class="header">
      <div class="header-logo"><a href="/" class="header-item">創造設計第二</a></div>
      <div class="header-list">
        <a href="/member" class="header-item">班員紹介</a></li>
        <a href="/strategy" class="header-item">戦略</a></li>
        <a href="/machine" class="header-item">マシン紹介</a></li>
        <a href="/interview" class="header-item">関連リンク</a></li>
      </div>
    </div>
  </head>
 
  	<div class="main">
  	  <img class="friends" src="tomochoko.jpg">
      <div class="copy-container">
        <h1>ズッ友大作戦<span>.</span></h1>
        <h2>彼女達が起こした<span><ruby>奇跡<rp>(</rp><rt>ミラクル</rt><rp>)</rp></ruby></span>...</h2>
      </div>
      <div class="contents">
        <h3 class="section-title">創造設計概要</h3>
        <p>創造設計第二とは，東京工業大学・制御システム工学課程において，第３学年後期に行われる講義です。それまでに学んだ制御・電気・メカ・システム・プログラム等の知識を総括し，ある目的を達成するシステムをインテグレーションするということを，実際の作業を通じて習得します。具体的には，与えられた課題競技を題材に、これを好成績でクリアする自律型機械を構築します。
　これ以前の講義や座学と異なり，本講義では４名１組のチームを編成し，プロジェクト運営を行います。この過程を通して，どのような運営を図るべきか，作業工程をどう組み立てるか，メンバー間の意志疎通や目的意識をどのように取りまとめるか，といった，他講義では学ぶことのできないことを実地経験として得ることができます。
　また，目的のシステムを作成することのみが決してゴールではなく，目的とするシステムの具体化や，作成・運営上の要点などを含めたプレゼンテーションおよび詳細な報告レポートの作成まで行い，自らの主張を評価者へ適切に伝えることまで行われます。
　このように，本講義は単なる「ロボコン」ではなく，これまでに得た知識を機能するシステムに結実させ，他者に受け入れられるための総合的な訓練を行う機会となっており，制御システム工学課程の総仕上げとして重要な位置を占めております。(創造設計第二HPより)</p>
        <h3 class="section-title">2017年度競技ルール</h3>
        <p>フィールドに配置されたピンポン球を獲得し，3分間でいかに多くのピンポン球を所定の倉庫へ輸送できるかを競う．競技中はホワイトとオレンジのピンポン球をそれぞれの色の倉庫へ輸送する.使用するマシンは２台とし，各マシンに取り付けられたセンサ等により自身のマシン状況を把握しながら，戦略的に走行するマシンが求められる．</p>
        <img class="field" src="2017field.png">
      </div>
      
      <div class="contact-form">
        <h3 class="section-title">お問い合わせ(現在使用できません)</h3>
        <p>メールアドレス（必須）</p>
        <!-- <input>要素を追加してください -->
        <input>
        
        <p>お問い合わせ内容（必須）</p>
        <!-- <textarea>要素を追加してください -->
        <textarea> </textarea>
        
        <p>※必須項目は必ずご入力ください</p>
        <!-- <input>要素を追加してください -->
        <input class=contact-submit type=submit>
        
      </div>
    </div>

    <div class="footer">
      <div class="footer-logo">SS2</div>
      <div class="footer-list">
      </div>
    </div>
