<html>
  <head>
    <!--><meta charset="utf-8"><!-->
    <title>SS2</title>
    <link rel="stylesheet" href="stylesheet.css">
    
    <div class="header">
      <div class="header-logo"><a href="/" class="header-item">創造設計第二</a></div>
      <div class="header-list">
        <a href="/member" class="header-item">班員紹介</a></li>
        <a href="/strategy" class="header-item">戦略</a></li>
        <a href="/machine" class="header-item">マシン紹介</a></li>
        <a href="/interview" class="header-item">関連リンク</a></li>
      </div>
    </div>
  </head>
  <body>
  	<div class="main">
  	  <div class="namelist">
  	  	<h2>11班：グループ名「イナズマ11」</h2>
  		<div class="namelist-item">
	  	  <ul>
	  	  	<li><p>班長</p>
	  	  		<img class="profile" src="banana.png"><a class="name">千田陽平</a></li>
	  	  	<li><p style ="clear:both;">副班長</p>
	  	  		<img class="profile" src="banana.png"><a class="name">松本大樹</a></li>
	  	  	<li><p style ="clear:both;">会計</p>
	  	  		<img class="profile" src="banana.png"><a class="name">正田孝平</a></li>
	  	  	<li><p style ="clear:both;">プロジェクトマネージャ</p>
	  	  		<img class="profile" src="banana.png"><a class="name">柳澤拓土</a></li>
	  	  	<li><p style ="clear:both;">写真・記録</p>
	  	  		<img class="profile" src="banana.png"><a class="name">イ・ジュヨン</a></li>
	  	  </ul>
	  	</div>
	  </div>
  	</div>
  </body>
</html>
