.sayu1{
  width:360px;
}


.sayu2{
  width:200px;
}

.sayu{
  color:white;
  font-weight:bold;
}

.mikan{
  color:orange;
  font-weight:bold;
}
.smallsection-title {
  border-bottom: 2px solid #dee7ec;
  padding-top: 15px;
}
.branch{
  //width:66%;
  //float: left;
}
.video{
  float:right;
  padding-left:20px;
  padding-top:30px;
}
